.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-group select {
  width: 100%; /* Or specify a specific width */
}

.form-group select {
  padding: 5px; /* Adjust as needed */
}

.form-group select option {
  font-size: 14px; /* Adjust as needed */
}

.custom-btn {
  /* Customize the background and text color */
  background-color: #343a40; /* Dark background color */
  color: #ffffff; /* White text color */
  border-color: #343a40; /* Dark border color */

  /* Add some padding and border radius */
  padding: 10px 20px;
  border-radius: 5px;

  /* Add transition for smoother hover effect */
  transition: all 0.3s ease;
}

.custom-btn:hover {
  /* Change background and border color on hover */
  background-color: #495057; /* Darker background color */
  border-color: #495057; /* Darker border color */
}

